.wrong {
  width: 100%;
  .all-students {
    padding-inline: 20px;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #ff8686;
    height: 95%;
    .like-header {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .students {
        font-size: 32px;
      }
      .search {
        display: flex;
        justify-content: center;
        background: rgb(169, 214, 214);
        margin-left: 180px;
        border: none;
        width: 600px;
        height: 40px;
        padding: 8px;
        outline: none;
        transition: 0.8s;
        &:hover {
          color: red;
          border-radius: 8px;
        }
      }
      .filter {
        background: rgb(169, 214, 214);
        margin-right: 60px;
        border: none;
        border-radius: 8px;
        width: 150px;
        height: 40px;
        padding: 8px;
        outline: none;
        transition: 0.8s;
        
        &:hover {
          color: red;
          border-radius: 8px;
      }
      }
    }
  }
}
.btn {
  margin: 10px;
  padding: 10px;
  gap: 5px;
  background-color: #ff8686;
  transition: 2s;
  &:hover {
    border-radius: 12px;
    background-color: aqua;
    color: red;

  }
}
.table {
  background: white;
  border-radius: 12px;
  padding: 20px ;
}